
$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$highlight: #FA4141;

$nav-primary: #85C1E9;
$nav-background: #7D3C98  ;
$nav-active: #ffd700;


$social-primary: #FFFFFF;
$social-background:  #5c90bd; ;
$social-active: #ffd700;