
.Socials {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

/*  display: flex;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  height: 60px;*/
/*  width: 100%;*/
/*  padding: 5px 0;*/

/* // background: $primary;*/
/*  background: $social-background;*/
/*  font-family: $core-font;*/
/*  font-size: 22px;*/
/*  //color: $on-primary-light;*/
/*  color: $social-primary;*/
/* // box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);*/
/*  box-shadow: 0px 10px 20px rgba(10,0,66,0.4);*/

/*  a {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*  }*/

/*  .active {*/
/*    color: $social-active;*/
/*    //color: $highlight;*/

/*  }*/
/*  a.sociali {*/
/*    font-size: 2em;*/
/*    line-height: 1.2em;*/
/*    padding: 10px;*/
/*    background: #accfc0;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-bottom: 10px;*/
/*  }*/
/*  a.sociali:hover, a.sociali:focus {*/
/*    background: #6d8785;*/
/*  }*/

/*}*/